# Ambiente virtuale
venv/
ENV/
env/
.venv/

# File di configurazione e credenziali
.env

# Cache di Python
__pycache__/
*.py[cod]
*$py.class

# Log e file temporanei
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# Replit
*.replit
.replit/
.replit.hidden/

# IDEs / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
